<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register || Register Yourself</title>
</head>

<body>
    <h1>Fill up Form to Register</h1>
    <style>
        h5{
            color: red;
        }
    </style>

    {% for message in messages %}
    <h5>{{message}}</h5>
    {% endfor %}

    <form method="POST" action="register">
        {% csrf_token %}
        <p>Username:</p>
        <input type="text" name="username" id="username" />
        <p>Email:</p>
        <input type="email" name="email" id="email" />
        <p>Password:</p>
        <input type="password" name="password" id="password" />
        <p>Repeat the Password:</p>
        <input type="password" name="password2" id="password2" />
        <br>
        <input type="submit">
    </form>
</body>

</html>